.team{
    background-color: white;
    width: 250px;
    height:250px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}
.logo{
    height: 100px;
}
.team button{
    padding: 10px 25px;
    background-color: #3498DB;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.team button:hover{
    color: black;
}
@media screen and (max-width: 600px) and (min-width: 280px) {
    .team{
        width:100%;
    }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
    .team{
        width:43%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .team{
        width:28%;
    }
}
@media screen and (min-width: 1024px){
    .team{
        background-color: white;
        width: 250px;
        height:250px;
        margin: 15px;
        padding: 10px;
        text-align: center;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 2px 2px 10px gray;
    }
}
