.team-card{
    background-color: #3498DB;
    width: 100%;
    color: white;
    display: flex;
    border-radius: 10px;
    margin-top: 15px !important;
    justify-content: space-between;
}
.internal-style{
    padding: 0 20px;
}
.team-photo{
    width: 450px;
    height: 250px;
    object-fit: cover;
}
.icon-div{
    text-align: center;
    margin-top: 50px;
}
.icon{
    padding: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.icon:nth-child(1){
    color: rgb(21, 113, 199);
}
.icon:nth-child(2){
    color: rgb(10, 84, 243);
}
.icon:nth-child(3){
    color: red;
}
.icon:hover{
    color: grey;
}
@media screen and (max-width: 600px) and (min-width: 280px) {
    .team-photo{
        width:90%;
        margin-top: 20px;
        float: right;
        object-fit: cover;
        border-radius: 15px;
    }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
    .team-photo{
        width:70%;
        float: right;
        margin-top: 20px;
        object-fit: cover;
        border-radius: 15px;
    }
}
