.header {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url('../../Images/stadium.jpg');
    height: 450px;
    width: 100%;
    background-position:center ;
    text-align: center;
}
.header h1 {
    display: inline-block;
    margin-top: 160px;
    color: white;
    font-size: 50px;
}
.header img{
    margin-top: 160px;
    height: 100px;
    width: auto;
}
@media screen and (max-width: 600px) and (min-width: 280px) {
    .header{
        width: 100%;
    }
}
/* @media screen and (max-width: 768px) and (min-width: 600px) {
    .header{
        width: 100%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header{
        width: 100%;
    }
} */
